.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2px;

    border: 1px dotted black;

;
}
.box div{
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}

/* .box div:nth-child(1){
    align-self: center;
    flex-grow: 1; 
    background-color: rgb(35, 146, 211);
    border-color: aqua;
    flex-basis: 30%;
}  */